.App {
  text-align: center;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 200px;
}


.addTask{
  display: flex;
  text-align: center;
}

.task{
  color: white;
  margin-right: 20px ;
}


.addTask, button{
  width: 80px;
  height: 43px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: 0px white;
  border-radius: 5px;

}

.addTask, input{
  margin-right: 20px;
  height: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border: 0px white;
  border-radius: 5px;
  margin-left: -40px;
}

.container{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

#botonTarea{
  width: 42px;
  height: 25px;
  margin-top: 35px;
  color: white;
  background-color: rgb(199, 10, 10);
  margin-right: 10px;
  font-size: 16px;
}

#botonTareaComplete{
  width: 90px;
  height: 25px;
  margin-top: 35px;
  color: white;
  background-color: rgb(10, 199, 63);
  font-size: 16px;

}


body{
  background-color: rgb(39, 158, 244);
}

